.Projects {
  display: flex;

  p {
    padding: .5em 1.7em .2em 1.7em;
    animation-duration: 1.5s;
    animation-name: slideinRight;
    width: 100%;
  }

  img {
    width: 50%;
    animation-duration: 1.5s;
    animation-name: slidein;
    margin-left: 10%;
    }

    @keyframes slidein {
      from {
        margin-left: 50%;
        width: 50%; 
      }
      to {
        margin-left: 10%;
        width: 50%;
      }
    }

    @keyframes slideinRight {
      from {
        margin-left: -50%;
        width: 100%;
      }
      to {
        margin-right: 0%;
        width: 100%;
      }
    }

  section {
    background-color: white;
    margin: 0 .5em 0 .5em;
    line-height: 1.5em;
    width: 49%;
    min-height: 75vh;
    display: grid;
  }

  .right {
    float: right;
    padding-top: 1em;
  }

  .left {
    float: left;
  }

  h1, h2 {
    padding: .5em 2em 0 .7em;
    font-style: italic;
    font-weight: 300;
    margin: .4em 0 .1em 0;
  }

  h3 { 
    display: inline;
    font-style: italic;
    font-weight: bold;
  }

  article {
    padding: .8em;
  }

  @media only screen and (max-width: 600px) and (min-width: 200px) {
    display: block;

    .left, .right {
      width: 100vw;
    }

    section {
      margin: 0;
    }

    article {
      padding: .5em 1.7em 1em 1.7em;
      width: 100vw;
    }
  }

}
