.Projects {
  display: flex;

  p.description {
    padding: 1.7em 1.7em .2em 1.7em;
    animation-duration: 1.5s;
    width: 100%;
  }

  .imgs {
    display: block;
    text-align: center;
  }

  img {
    width: 23em;
    filter: drop-shadow(.16em .11em .1em rgb(104, 103, 103));
    justify-self: center;
    padding-top: 2em;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fadeIn {
    animation: fadein .5s;
    -moz-animation: fadein .5s;
    -webkit-animation: fadein .5s;
  }

    @keyframes slidein {
      from {
        margin-left: 50%;
        width: 100%; 
      }
      to {
        margin-left: 0%;
        width: 100%;
      }
    }

    @keyframes slideinRight {
      from {
        margin-left: -50%;
        width: 100%;
      }
      to {
        margin-right: 0%;
        width: 100%;
      }
    }

  section {
    background-color: white;
    margin: 0 .5em 0 .5em;
    line-height: 1.5em;
    width: 49%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;

    a {
      margin: 1em 2em;
    }

    .twitter {
      margin: 0 !important;
    }
  

    p.caption {
      font-size: .85rem;
      text-align: center;
      margin-right: 1em;
      margin-left: 1em;
    }
  }

  .right {
    float: right;
    padding-top: 1em;
  }

  .left {
    float: left;
  }

  h1, h2 {
    padding: .5em 2em 0 .7em;
    font-style: italic;
    font-weight: 300;
    margin: .4em 0 .1em 0;
  }

  h3 { 
    display: inline;
    font-style: italic;
    font-weight: bold;
  }

  article {
    padding: .8em .8em 0 .8em;

    @media (hover) {
      &::after {
        content: '';
        display: block;
        width: 0;
        margin-top: 1em;
        height: 2px;
        background-image: repeating-linear-gradient(to left, transparent, cyan, red, gold);
        transition: width .4s;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }

  article span a {
    line-height: 2.3em;
  }

  @media only screen and (max-width: 600px) and (min-width: 200px) {
    display: block;

    .left, .right {
      width: 100vw;
    }

    section {
      margin: 0;
    }
    section.left {
        border-bottom: 2px solid lightgray;

      }

    article {
      padding: .5em 1.7em 1em 1.7em;
      width: 100vw;
    }
  }

  @media only screen and (max-width: 888px) {
    img {
      width: 80%;
      margin: 0 auto;
    }
  }

}
