.MemeGenerator {

  @media screen and (min-width: 600px) {
    img:not([alt="github"]) {
      width: 90%;
    }
  }

  @media screen and (min-width: 960px) {
    img:not([alt="github"]) {
      width: 40em;
    }
  }
}
