@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: red;
  padding: .5em;
}

section {
  overflow: auto;
  height: 80vh;
}
