.Header {
  z-index: 1;

  a {
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: .5em;
  }
  a, button {
    color: var(--black-100);
    background: var(--white-100);
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }
  & a:hover,
  & button[data-style="toggle-dark-mode"]:hover {
    background-color: var(--red-500);
  }

  ul {
    width: 50%;
    float: right;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0 1em 0;
    margin-top: .2em;
    height: 1em;
  }

  h1 {
    font-weight: 300;
    font-size: 1.4em;
    letter-spacing: .1em;
    width: 49%;
    float: left;
    padding: .34em 0 0 1em;
    
    a {
      background: transparent;
      text-decoration: none;
    }
  }

  h1:hover {
    color: var(--red-500);
  }

  @media only screen and (max-width: 330px) and (min-width: 200px) {
    h1 {
      font-size: 1.2em;
      padding: .6em 0 0 1em;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
      width: auto;
      padding-bottom: .3em;
    }
  }
}
