.Footer {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 2em 0 0 1.2em;
    margin: 0;
  }

  li {
    padding: 0;
    font-size: 0.8em;
  }

  a {
    display: inline-block;
  }
}
