.Work {
  /*background: white;*/

  div {
    display: grid;
  }

  span {
    margin: 0 0 0 .8em;
  }

  article div div:hover {
    /*background: cyan;*/
  }

  article div div div {
    padding: .3em;
  }

  section {
    padding: 1em 0  2em 7%;
    margin: 0 .5em 0 .5em;
    background-color: white;
    line-height: 1.5em;
    display: grid;
  }

  ul {
    list-style: square;
  }

  h1 {
    margin-left: -5%;
    margin-top: 0;
    padding: .5em 2em 0 0;
    font-style: italic;
    font-weight: 300;
  }

  h3 {
    padding: .5em 2em 0 0;
    font-style: italic;
    font-weight: 300;
    margin: .4em 0 -.02em 0;
    background: white;
  }

  img {
    width: 50%;
    margin-top: 2em;
    animation-duration: 1.5s;
    animation-name: slidein;
    justify-self: center;
    }

    @keyframes slidein {
      from {
        margin-left: 50%;
        width: 50%; 
      }
      to {
        margin-left: 0%;
        width: 50%;
      }
    }
}
